<div class="partners section">
    <div class="container">
        <header class="partners__header">
            <div class="row">
                <div class="col-12">
                    <h2 class="title">Trusted Partners</h2>
                    <p class="subtitle">
                        Lorem ipsum dolor sit amet consectetur
                    </p>
                </div>
            </div>
        </header>

        <div class="partners__content">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="partners__item">
                        <a href="#" class="icon">
                            <span class="icon-partners-1-1"><span class="path1"></span><span class="path2"></span><span
                                    class="path3"></span></span>
                        </a>

                        <a href="#" class="icon">
                            <span class="icon-partners-1-2"></span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="partners__item">
                        <a href="#" class="icon">
                            <span class="icon-partners-2-1"><span class="path1"></span><span class="path2"></span><span
                                    class="path3"></span><span class="path4"></span></span>
                        </a>

                        <a href="#" class="icon">
                            <span class="icon-partners-2-2"></span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="partners__item">
                        <a href="#" class="icon">
                            <span class="icon-partners-3-1"><span class="path1"></span><span class="path2"></span></span>
                        </a>
                        <a href="#" class="icon">
                            <span class="icon-partners-3-2"></span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="partners__item">
                        <a href="#" class="icon">
                            <span class="icon-partners-4-1"><span class="path1"></span><span class="path2"></span><span
                                    class="path3"></span></span>
                        </a>
                        <a href="#" class="icon">
                            <span class="icon-partners-4-2"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
