@include font-face("RobotoRegular", "/assets/fonts/RobotoRegular/RobotoRegular");
@include font-face("MonserratBold", "/assets/fonts/MonserratBold/MonserratBold");

/*@font-face {
  font-family: 'icomoon';
  src: url('../fonts/iconmoon/fonts/icomoon.eot?6e29zo');
  src: url('../fonts/iconmoon/fonts/icomoon.eot?6e29zo#iefix') format('embedded-opentype'), url('../fonts/iconmoon/fonts/icomoon.ttf?6e29zo') format('truetype'), url('../fonts/iconmoon/fonts/icomoon.woff?6e29zo') format('woff'), url('../fonts/iconmoon/fonts/icomoon.svg?6e29zo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
