
/* fonts
====================================================*/
@mixin opensans {
  font-family: "OpenSans", sans-serif;
}

/*@mixin opensansbold {
  font-family: "OpenSansBold", sans-serif;
}*/

/* @mixin roboto {
  font-family: "RobotoRegular", sans-serif;
} */

/* @mixin robotobold {
  font-family: "RobotoBold", sans-serif;
} */

/*@mixin robotocondensed {
  font-family: "RobotoCondensed", sans-serif;
}*/

/*@mixin bebasregular {
  font-family: "BebasRegular", sans-serif;
}*/

/* @mixin badscriptregular {
  font-family: "BadScriptRegular", sans-serif;
} */

/* @mixin cleanvertisinglight {
  font-family: "CleanvertisingLight", sans-serif;
} */

/*mixins*/
@mixin inline-block {
  display: inline-block;
  vertical-align: top;
}

