//grid
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

//text colors
$white: #fff;
$blue: #003469;
$body-bg: $white;
$text-color: #333;
$black: #000;

//bg colors
$accent: #a91605;

//border
$border-color: #d3d7e5;


