//grid
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

//text colors
$white: #fff;
$green: #549404;
$blue: #003469;
$body-bg: $white;
$text-color: #333;
$text-light-color: #666666;
$text-gray: #878787;
$black: #000;
$gray: #858585;

//bg colors
$accent: #a91605;
$dark-bg: #111;

//border
$border-color: #d3d7e5;


