@import "../sass/partials/_start.scss";
@import "../libs/slick/slick";
@import "partials/iconmoon";

body {
  @include roboto;

  margin: 0;
  padding: 0;
  font-size: 16px;
  color: $text-color;
  background: $white;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

button,
button:focus,
button:active,
button:hover {
  outline: none;
}

.btn-wrap {
  .btn,
  a.btn {
    @include monsseratbold;
    @include inline-block;

    position: relative;
    padding: 0 42px;
    height: 42px;
    font-size: .8em;
    line-height: 42px;
    text-transform: uppercase;
    color: $white;
    background: $green;
    border: 1px solid transparent;
    border-right: none;
    transition: all .6s ease;

    &::after {
      content: '';
      position: absolute;
      top: -1px;
      bottom: -1px;
      right: 0;
      width: 5px;
      background: lighten($green, 5%);
    }

    &:hover {
      background: lighten($green, 5%);
    }
  }
  &.red {
    a.btn,
    .btn {
      color: $text-gray;
      background: $white;
      border: 1px solid #eee;
      border-right: none;

      &::after {
        content: '';
        background: $accent;
      }

      &:hover {
        color: $white;
        background: $accent;
        border-color: $accent;
      }
    }
  }

  &.white {
    a.btn,
    .btn {
      color: $white;
      background: transparent;
      border: 1px solid $white;
      border-right: none;

      &::after {
        background: $white;
      }

      &:hover {
        color: $green;
        background: $white;
      }
    }
  }

}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 100px 0;
}

.title {
  @include monsseratbold;

  margin-bottom: 15px;
  font-size: em(24);
  text-transform: uppercase;

  &.title__small {
    font-size: em(14);
  }
}

.subtitle {
  font-size: em(14);
  font-weight: normal;
  text-transform: uppercase;
  color: $text-gray;
}

.s_dark {
  color: $white;
  background: $dark-bg;

  .title {
    color: $white;
  }
}

.left-icon {
  position: absolute;
  top: 50%;
  left: -20px;
  width: 80px;
  height: 70px;
  text-align: center;
  transform: translateY(-50%);
  background: url("../i/home/icon-bg.svg") no-repeat center;
  background-size: cover;
  transition: all .8s ease;

  @media screen and (max-width: $sm) {
    left: 0;
  }

  &:hover {
    background-image: url("../i/home/icon-bg-red.svg");
    cursor: pointer;

    span,
    i {
      &::before {
        color: $white;
      }
    }
  }

  span,
  i {
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 36px;
    transform: translate(-50%, -50%);

    &::before {
      color: #555;
    }
  }
}

.socials {
  display: flex;
  margin-bottom: 40px;

  .social-item {
    margin-right: 10px;
    width: 22px;
    height: 22px;
    text-align: center;
    background: rgba(255, 255, 255, .4);
    border-radius: 5px;
    transition: all .5s ease;

    &:hover {
      background: $white;
    }

    .fa {
      font-size: em(14);
      line-height: 22px;
      color: $accent;
    }
  }
}

.main {
  padding-top: 80px;
}

/*=================================
=            home.html            =
=================================*/

/*----------  home-slider  ----------*/
.home-slider {
  overflow: hidden;

  &.slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  &__item {
    position: relative;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, .4);
    }
  }

  .caption {
    max-width: 560px;
    padding-top: 166px;
    color: $white;

    @media screen and (max-width: $lg) {
      padding-top: 130px;
    }

    @media screen and (max-width: 800px) {
      padding-top: 110px;
    }
  }

  .slider-title {
    @include monsseratbold;
    font-size: em(26);
    text-transform: uppercase;
  }

  .slider-text {
    margin-bottom: 40px;
  }

  .slick-dots {
    display: table;
    width: auto;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);

    .slick-active {
      button {
        background: #aaa;
      }
    }

    button {
      background: #666;
      border-radius: 50%;
      border: 2px solid #aaa;

      &::before {
        font-size: 0;
        color: transparent;
      }
    }
  }
}

/* delivery
====================================================*/
.delivery {
  .col-md-4:last-child {
    .btn {
      @media screen and (max-width: $md) {
        margin-bottom: 0;
      }
    }
  }

  .img-wrap {
    margin-bottom: 40px;
  }

  .title {
    margin-bottom: 26px;
  }

  &__text {
    margin-bottom: 30px;
    font-size: em(13);
    line-height: 1.8;
    color: $text-light-color;
  }

  .btn {
    @media screen and (max-width: $md) {
      margin-bottom: 40px;
    }
  }
}

/* end delivery
====================================================*/

/* free-quote
====================================================*/
.free-quote {
  color: $white;

  &__outer {
    position: relative;
    padding: 0 50px;
    overflow: hidden;

    @media screen and (max-width: $sm) {
      padding: 0 10px;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 0;
      height: 0;
      border: 170px solid transparent;

      @media screen and (max-width: $lg) {
        display: none;
      }
    }

    &::before {
      left: -170px;
      border-right-color: $green;
      border-right-width: 50px;
    }

    &::after {
      right: -170px;
      border-left-color: $green;
      border-left-width: 50px;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    width: 100%;
    height: 100%;
    background: $green;

    @media screen and (max-width: $lg) {
      display: block;
    }
  }

  .left-block {
    max-width: 650px;

    @media screen and (max-width: $xl) {
      max-width: 550px;
    }
  }

  .right-block {
    max-width: 240px;
  }

  .title {
    margin-bottom: 10px;
  }

  &__text {
    margin: 0;
    max-width: 600px;

    @media screen and (max-width: $lg) {
      margin-bottom: 30px;
    }
  }

  .btn-wrap {
    .btn {
      padding: 0 20px;

      @media screen and (max-width: 325px) {
        padding: 0 15px;
      }
    }
  }
}

/* end free-quote
====================================================*/

/* home-services
====================================================*/
.home-services {
  &__header {
    margin-bottom: 40px;
    text-align: center;
  }

  .title {
    margin-bottom: 25px;
  }

  .subtitle {
    @include inline-block;

    max-width: 420px;
  }

  &__item {
    position: relative;
    margin-bottom: 40px;
    padding: 44px;
    padding-left: 110px;
    border: 1px solid #eee;
    border-right-width: 3px;
    border-right-color: #ddd;
  }
}

/* end home-services
====================================================*/

/* fleets-gallery
====================================================*/
.fleets-gallery {
  position: relative;
  background-image: url("../i/home/fleets-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .8);
  }

  &__header {
    position: relative;
    margin-bottom: 65px;
    text-align: center;
    z-index: 1002;

    .title {
      margin-bottom: 20px;
    }
  }

  .fleets-slider {
    height: 180px;

    .img-wrap {
      height: 136px;
      overflow: hidden;
    }

    img {
      padding: 0 15px;
      max-width: 100%;
      height: auto;
    }
  }
  .slick-arrow {
    top: -40px;
    width: 50px;
    height: 32px;
    border: 2px solid $gray;
    transition: all .8s ease;

    &:hover {
      background: #222;
    }
  }

  .slick-prev::after,
  .slick-next::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'FontAwesome', sans-serif;
    color: $gray;
    font-size: 20px;
  }

  .slick-prev {
    left: auto;
    right: 48px;

    &::after {
      content: "\f053";
    }
  }

  .slick-next {
    right: 0;

    &::after {
      content: "\f054";
    }
  }
}

/* end fleets-gallery
====================================================*/

/* why-us
====================================================*/
.why-us {
  border-bottom: 2px solid #eee;

  &__header {
    margin-bottom: 40px;
  }

  &-slider {
    @media screen and (max-width: $lg) {
      margin-bottom: 80px;
    }
  }

  &-slider__item {
    position: relative;
    margin: 0 20px;
    padding-bottom: 40px;
  }

  &-slider__content {
    position: relative;
  }

  &-slider__text {
    padding: 46px 32px 45px 84px;
    height: 180px;
    line-height: 1.4;
    color: $text-light-color;
    background: #f5f5f5;
    overflow: hidden;
  }

  .caption {
    position: absolute;
    bottom: 0;
    right: 20px;

    .title {
      margin-bottom: 0;
    }
    &__description {
      padding: 0;
      margin: 0;
    }
  }

  .slick-arrow {
    top: auto;
    bottom: -55px;
    width: 50px;
    height: 32px;
    border: 2px solid $gray;
    transition: all .8s ease;
    z-index: 2000;

    &:hover {
      background: #222;
    }
  }

  .slick-prev::after,
  .slick-next::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'FontAwesome', sans-serif;
    color: $gray;
    font-size: 20px;
  }

  .slick-prev {
    left: 0;
    right: auto;

    &::after {
      content: "\f053";
    }
  }

  .slick-next {
    left: 48px;
    right: auto;

    &::after {
      content: "\f054";
    }
  }

  .left-icon i {
    font-size: em(20);
  }

  .accordeon {
    &__item {
      padding: 22px 16px;
      border-top: 2px solid #eee;
    }

    &-title {
      @include monsseratbold;

      position: relative;
      display: block;
      font-size: em(14);
      color: inherit;

      .fa {
        position: absolute;
        top: 50%;
        right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        color: $white;
        background: $text-color;
        transform: translateY(-50%);

        @media screen and (max-width: $md) {
          right: -30px;
        }
      }
    }

    &-content {
      display: none;
    }

  }
}

/* end why-us
====================================================*/

/* ability
====================================================*/
.ability {
  .section {
    @media screen and (max-width: $lg) {
      padding-bottom: 80px;
    }
  }

  &__item {
    padding: 40px 36px 40px 80px;
    border: 1px solid $border-color;
    border-bottom-width: 5px;
    transition: all .8s ease;

    @media screen and (max-width: $lg) {
      margin-bottom: 30px;
    }

    &:hover {
      background: $accent;
      border-bottom-color: $green;

      .ability__content {
        color: $white;
      }
    }

    .left-icon {
      left: 0;

      i {
        font-size: 20px;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .number,
  .text {
    display: block;
  }

  .number {
    width: 55px;
    font-size: em(34);
    font-weight: bold;
  }

  .text {
    @include monsseratbold;

    width: 60px;
    font-size: em(14);
  }
}

/* end ability
====================================================*/

/* latest-news
====================================================*/
.latest-news {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    @media screen and (max-width: 480px) {
      display: block;
    }

    &-content {
      @media screen and (max-width: 480px) {
        margin-bottom: 30px;
      }
    }
  }

  .big-news {
    overflow: hidden;

    @media screen and (max-width: $lg) {
      max-width: 570px;
      margin: 0 auto;
      margin-bottom: 30px;
    }

    .img-wrap {
      width: 570px;
      height: 195px;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    &__content {
      padding: 30px;
      color: $text-color;
      background: $white;
    }

    &__title {
      @include monsseratbold;

      margin-bottom: 12px;
      font-size: em(18);
    }

    &__data {
      &-item {
        @include inline-block;

        padding: 6px 14px;
        color: $text-gray;
        border-right: 2px solid $border-color;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          border-right: 0;
        }
      }
    }
  }

  .small-news__item {
    @media screen and (max-width: $lg) {
      margin: 0 auto;
      max-width: 540px;

      .img-wrap {
        @media screen and (max-width: $sm) {
          display: table;
          margin: 0 auto -4px;
        }
      }
    }

    &:first-child {
      margin-bottom: 50px;

      @media screen and (max-width: $lg) {
        margin-bottom: 40px;
      }
    }

    .col-sm-6:first-child {
      padding-right: 0;

      @media screen and (max-width: $sm) {
        padding-right: 15px;
      }
    }

    .col-sm-6:last-child {
      padding-left: 0;

      @media screen and (max-width: $sm) {
        padding-left: 15px;
      }
    }

    .big-news__title {
      font-size: em(14);
    }

    .big-news__content {
      padding: 30px;

      @media screen and (max-width: $xl) {
        padding: 20px;
      }

      @media screen and (max-width: $lg) {
        padding: 30px;
      }

      @media screen and (max-width: $md) {
        padding: 26px;
      }

      @media screen and (max-width: $sm) {
        margin: 0 auto;
        max-width: 270px;
      }
    }

    .big-news__data-item {
      font-size: em(11);
    }
  }
}

/* end latest-news
====================================================*/

/* partners
====================================================*/
.partners {
  @media screen and (max-width: $lg) {
    padding-bottom: 80px;
  }

  &__header {
    margin-bottom: 40px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 45px;
    background: #f5f5f5;
    border-right: 3px solid #ddd;
    transition: all .8s ease;

    @media screen and (max-width: $lg) {
      margin-bottom: 30px;
    }

    @media screen and (max-width: $md) {
      max-width: 330px;
    }

    &:hover {
      background: $accent;
      border-right-color: $green;
    }

    &:hover {
      .icon {
        color: $white;
      }
    }
  }

  .icon {
    display: block;
    color: $text-gray;
    transition: all 1s ease;

    &:hover {
      color: yellow;
    }

    &:first-child {
      font-size: em(36);
    }

    &:last-child {
      font-size: em(18);
    }

    span {
      font-size: inherit;
    }
  }
}

/* end partners
====================================================*/

/* our-services
====================================================*/
.our-services {

}

.page-header {
  position: relative;
  display: flex;
  align-items: center;
  height: 150px;
  background-position: top center;
  background-size: cover;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.6);
    z-index: 2;
  }

  &__title {
    position: relative;
    color: $white;
    z-index: 3;
  }
}

.categories {
  .category-item {
    &:hover {
      .category-link {
        color: $white;
        background: $green;
        border-right-color: lighten($green, 20%);
      }
    }
  }

  .category-link {
    @include monsseratbold;

    display: block;
    margin-bottom: 6px;
    padding: 25px 35px;
    font-size: em(12);
    text-transform: uppercase;
    color: inherit;
    background: $bg-light;
    border-right: 5px solid $border-light;
    transition: all .5s ease;
  }
}

.our-services {
  &.main {
    padding-bottom: 10px;
  }

  .sidebar {
    @media screen and (max-width: $lg) {
      margin-bottom: 80px;
    }
  }

  &__item {
    margin-bottom: 70px;
    max-width: 270px;

    .img-wrap {
      margin-bottom: 40px;
      height: 160px;
      overflow: hidden;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    .text {
      margin-bottom: 40px;
      font-size: em(13);
      line-height: 1.8;
      color: $text-light-color;
    }
  }
}

/* end our-services
====================================================*/

/* about-us
====================================================*/
.title,
.subtitle {
  text-align: center;
}

.title {
  margin-bottom: 40px;
}

.subtitle {
  margin-bottom: 12px;
}

.about-us-tabs {
  .img-wrap {
    margin-bottom: 100px;

    @media screen and (max-width: $lg) {
      margin-bottom: 40px;
    }
  }

  .tabs {
    display: table;
    margin: 0 auto 60px;

    @media screen and (max-width: 450px) {
      display: block;
    }

    .tab {
      @include  inline-block;
      @include monsseratbold;

      position: relative;
      margin-right: 10px;
      padding: 20px 45px;
      font-size: em(12);
      text-transform: uppercase;
      border: 1px solid #eee;
      border-right: 0;
      transition: all .6s ease;

      @media screen and (max-width: $md) {
          padding: 20px 15px;
      }

      @media screen and (max-width: 450px) {
        display: block;
        text-align: center;
      }

      &:hover {
        cursor: pointer;
      }

      &::after {
        content: '';

        @include inline-block;
        position: absolute;
        top: 0;
        right: 0;
        width: 4px;
        height: 100%;
        background: #ddd;
      }

      &.active {
        color: $white;
        background: $green;

        &::after {
          background: lighten($green, 10%);
        }
      }
    }

  }

  .tab-title {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.6;
    color: $text-light-color;
  }

  .text {
    font-size: em(13);
    line-height: 1.6;
    color: $text-light-color;

    @media screen and (max-width: $lg) {
      margin-bottom: 80px;
    }
  }

  .text-underline {
    text-decoration: underline;
  }
}
/* end about-us
====================================================*/

/* footer-main
====================================================*/
.footer-main {
  position: relative;
  padding: 90px 0 140px;
  min-height: 480px;
  color: #bababa;
  background-color: #222;
  background-image: url("../i/footer/footer-left-bg.svg"),
  url("../i/footer/footer-bg.png");
  background-repeat: no-repeat;
  background-position: left -2px,
  center top;

  .title,
  .logo-title,
  .logo-text {
    color: $white;
  }

  .col-md-6 {
    @media screen and (max-width: $lg) {
      margin-bottom: 30px;
    }
  }

  .logo {
    display: flex;
    margin-bottom: 20px;

    .img-wrap {
      margin-right: 10px;
    }

    .icon-logo {
      font-size: 46px;

      &::before {
        color: $white;
      }
    }

    &-title {
      line-height: 1;
    }
  }

  .text {
    margin-bottom: 30px;
    font-size: em(14);
    line-height: 1.6;
  }

  .btn-wrap.white {
    a.btn {
      border-color: rgba(255, 255, 255, .4);

      &:after {
        background: rgba(255, 255, 255, .6);
      }
    }
  }

  .title.title-small {
    font-size: em(15);
  }

  .footer-list {

    &__item {
      margin-bottom: 22px;
      font-size: em(13);

      a {
        color: inherit;
      }
    }
  }

  .contact-list {
    &__item {
      display: flex;
      margin-bottom: 10px;

      .fa {
        margin-right: 10px;
        margin-top: 4px;
        color: $white;
      }
    }

    strong {
      display: block;
      color: $white;
    }
  }
}


.footer-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 64px;
  color: #bababa;
  background: transparent;
  border-bottom: 10px solid #000;

  .copy {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    width: 86%;
    height: 60px;
    background: #000;

    .up {
      position: absolute;
      top: -2px;
      left: -76px;
      width: 114px;
      height: 63px;
      color: $white;
      background: url("../i/footer/up-bg.svg") no-repeat top center;
      border: none;

      .fa {
        transition: all .8s ease;
      }

      &:hover .fa {
        color: green;
        font-size: 24px;
        cursor: pointer;
      }
    }

    &__text {
      line-height: 64px;

      @media screen and (max-width: 540px) {
        margin-top: 18px;
        line-height: 1.2;
      }
    }
  }
}

/* end footer-main
====================================================*/

